* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: poppins, sans-serif;
}

button{
    border: none;
    border-radius: 2em;
font-family:poppins, sans-serif; 
/* padding: 11; */
}