* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: poppins, sans-serif;
    background-color: var(--clr4);
}

main{
    justify-content: center;
    /* align-items: center; */
   min-width: 100vw;
    margin-top: 20px;
    /* margin: auto; */
    /* justify-content: center; */
   
}

button{
    border: none;
    border-radius: 2em;
font-family:poppins, sans-serif; 
/* padding: 11; */
}

 img{
    width: 100%;
    border-radius: 10%;

  
}