* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: poppins, sans-serif;
    background-color: var(--clr9);
    
 
}

body::after {
    content: "";
    clear: both;
    display: table;
  }

main{
    justify-content: center;
    /* align-items: center; */
   min-width: 100vw;
    margin-top: 20px;
    /* margin: auto; */
    /* justify-content: center; */
   
}

button{
    border: none;
   
font-family:poppins, sans-serif; 
/* padding: 11; */

}

 img{
    width: 100%;
    border-radius: 10%;
    

  
}