header {
    background-image: var(--clr1);
    align-items: stretch;
    font-size: 1.75rem;

    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* justify-content: space-around; */
    align-items: center;
}



header .logo {
    /* width: max-content; */
    /* padding: 1.1363em; */
    width: 200px;
    margin-left: 30px;

}


header nav {
    display: none;

}

.hamburger {
    width: 4rem;
    max-height: 4rem;
    border-radius: 2rem;
    /* padding: 0.3em 0.3em; */
    margin-right: 20px;
    margin-bottom: 20px;
    color: var(--clr2);
    font-size: 2.75rem;

    /* width: max-content; */
}

/* .hamburger img {
/* color: white; */
/* width: 25%; */

/* } */



@media (min-width: 800px) {
    header {
        font-size: 1.25rem;
        margin-top: 15px;
        margin-right: 25px;
        margin-left: 15px;
        /* max-width: 1260px; */
        border-radius: 2em;
        padding-top: 0.875rem;
        padding-bottom: 1.1875rem;
        /* padding-bottom: 0.75em; */
        align-items: center;
    }


    header .logo {
        /* width: max-content; */
        /* padding: 1.1363em; */
        width: 300px;
        margin-left: 30px;
        ;

    }

    header nav {
        display: flex;
        /* margin-right: 7em; */
        margin-inline-end: 300px;
        gap: 60px;

    }

    header button{
        border-radius: 2em;
    }
    /* header nav button{
        font-size: 30px;
    
    } */


    header button {

        background-color: transparent;
        padding: 0.5em 1em;
        margin-left: 0.5em;
        /* margin-top: 1em; */
        /* margin-bottom: 0.7em; */
        font-size: 1.25rem;
        color: white;
        /* background-color:  */
    }

    header button:hover {
        color: var(--clr2);
        background-color: white;
    }

    .hamburger {
        display: none;

        /* width: max-content; */
    }


}