header {
    background-image: var(--clr1);
    align-items: stretch;
    font-size: 1.75rem;

    color: white;
    padding-top: 1em;
    padding-bottom: 1rem;
}



header .logo {
    /* width: max-content; */
    /* padding: 1.1363em; */
    width: 300px;
    margin-left: 30px;

}


header nav {
    display: none;

}

.hamburger {
    border-radius: 2rem;
    padding: 0.2272em 0.4555em;
    margin-right: 20px;
    margin-bottom: 20px;
    color:var(--clr2);
    font-size: 2.75rem;

    /* width: max-content; */
}

/* .hamburger img {
/* color: white; */
    /* width: 25%; */

/* } */ 



@media (min-width: 800px) {
    header {
        font-size: 1.25rem;
        margin-top: 15px;
        margin-right: 25px;
        margin-left: 15px;
        /* max-width: 1260px; */
        border-radius: 2em;
        padding-bottom: 0.75em;
        align-items: center;
    }

    
header .logo {
    /* width: max-content; */
    /* padding: 1.1363em; */
    width: 300px;
    margin-left: 30px;;

}

    header nav {
        display: flex;
        /* margin-right: 7em; */
        margin-inline-end:500px;
        gap: 60px;

    }

    /* header nav button{
        font-size: 30px;
    
    } */

    
header button {
    
    background-color: transparent;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.7em;
    font-size: 1.25rem;
    color: white;
    /* background-color:  */
}

header button:hover {
    color: var(--clr2);
    background-color: white;
}

    .hamburger {
   display: none;
    
        /* width: max-content; */
    }
    

}