input[type="text"] {
    border-radius: 25px;

    box-shadow: 0 5px 0 var(--clr-2);
    padding: 20px;
    width: 69%;
    height: 15px;
    /* margin-top: 15px; */
    border: none;
}

input[type="text"],
textarea {

    background-color: var(--clr-1);
    font-family: poppins, sans serif;
    font-size: 1.5625rem;
    padding: 1em;
    text-align: center;

}

input[type="color"] {
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    box-shadow: 0 5px 0 rgb(201, 200, 200)
/* padding: 15px; */
}

.fill::before {
    content: url("/img/Forme_6.png");;
/* padding: 15px; */
}

input[type="color"]::-webkit-color-swatch {
    display: none;
    /* background-color:none;
    background-image: 
    background-repeat:no-repeat;
    object-fit:cover; */
}

/* .stroke::-webkit-color-swatch {
    display: none; */
    /* background-color:none;
    background-image: url("/img/s.png");
    background-repeat:no-repeat;
    object-fit:cover; */
    
/* 
.fill::before::content {
    content: url("/img/Forme_6.png");
    /* margin: auto; */
/* padding: 15px; */


.stroke::before {
    content: url("/img/s.png");
    /* margin: auto; */
/* padding: 15px; */
}


/* input, select, textarea {
    font-size: 100%;
    } */
/* body{
    background-color: aqua;
} */

.editor-inputs button {
    width: 55px;
    /* font-family: poppins, sans-serif; */

}


.colored-buttons-container button {
    margin-inline-end: 20px;
    width: 60px;
    min-height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
   
}

.white-buttons-container {
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--clr3);
   max-width: 85%;
   min-height: 160px;
    /* justify-content: space-around; */
    /* align-items: center; */
    

}

.white-buttons-container button {
    margin-top: 10px;
    min-width: 12%; 
     min-height: 50px;
     box-shadow: 0 5px 0 rgb(201, 200, 200)
    
    /* margin-inline-start: 20px;
    margin-inline-end: 35px; */
}

.white-buttons-container button img{
    width: 60%;
}

.file-buttons-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 20px;

}

.impact{
    font-family: poppins,suns-serif;
    font-size: 1.5625rem;
    grid-column: 1/4;
    box-shadow: 0 5px 0 rgb(201, 200, 200);
    border:none
    
}

.file-buttons-container button {
    width: 30%;
    padding: 20px;


}

.delete {
    background-color: var(--clr7);
    box-shadow: 0 5px 0 var(--clr7o);
}

.switch{
    background-color: var(--clr3);
    box-shadow: 0 5px 0 var(--clr3o);
}

.move{
    background-color: var(--clr4);
    box-shadow: 0 5px 0 var(--clr4o);
}

.share{
    background-color: var(--clr5);
    box-shadow: 0 5px 0 var(--clr5o);
    color: white;
    font-size: 1.3125rem;
}

.share::before{
    content: url("/img/Forme_7.png");
}

.download{
    background-color: var(--clr6);
    box-shadow: 0 5px 0 var(--clr6o);
    
}

.download:before{
    content: url("/img/Forme_8.png");
}

.download a{
    text-decoration: none;
    color: white;
    font-size: 1.3125rem;
}
/* .fill::before{
    background-image: url("/img/Forme_6.png");
} */

@media (min-width:800px) {
    .white-buttons-container {
        display: grid;
        grid-template-columns: repeat(5, 55px);
        grid-template-rows: repeat(2, 51px);
        row-gap: 20px;
        column-gap: 35px;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: var(--clr3);
        width: 85%;
        justify-content: space-around;
        /* align-items: center; */
        
    
    }



    .white-buttons-container button {
        margin-top: 10px;
        min-width: 12%;
        min-height: 50px;
        /* margin-inline-start: 20px;
        margin-inline-end: 35px; */
    }
}

@media (max-width:500px){
    .white-buttons-container {
        /* display: grid; */
     column-gap: 10px;
     margin-right: 10px;
     /* font-family:'Courier New', Courier, monospace */
    /* grid-template-columns: repeat(5,30px) ;
    grid-template-rows: repeat(2, 30px);
    width: max-content;
    height: max-content;
    

    .white-buttons-container button {
        margin-top: 10px;
       width:25px;
        height: 25px;
        /* margin-inline-start: 20px;
        margin-inline-end: 35px; */
    }
}
 