
input[type="text"]   {
    border-radius: 25px;
   
box-shadow: 0 5px 0 var(--clr-2);
padding: 20px; 
width: 69%;
height: 15px; 
margin-top: 24px; 
border: none;
}  

input[type="text"], textarea {

    background-color : var(--clr-1); 
    font-family: poppins, sans serif;
    font-size: 1.5625rem;
    padding: 1em;
    text-align: center;
  
  }


  /* input, select, textarea {
    font-size: 100%;
    } */
/* body{
    background-color: aqua;
} */

.editor-inputs button{
    width: 55px;
    /* font-family: poppins, sans-serif; */

}


.colored-buttons-container button{
    width: 60px;
    min-height: 50px;
}


.white-buttons-container button{
    width: 55px;
    min-height: 50px;
}

.file-buttons-container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    gap: 20px;
    
}
.file-buttons-container button{
    width: 30%;
    padding: 20px;

    
}

.delete{
    background-color: var(--clr7);
}