.editor-inputs button {
    border-radius: 10px;
}

input[type="select"] {
    border-radius: 10px;

}

input[type="text"] {
    border-radius: 25px;

    box-shadow: 0 5px 0 var(--clr-2);
    padding: 20px;
    width: 90%;
    height: 15px;
    /* margin-top: 15px; */
    border: none;
    margin: auto;
}

input[type="text"],
textarea {

    background-color: var(--clr-1);
    font-family: poppins, sans serif;
    font-size: 1.5625rem;
    padding: 1em;
    text-align: center;

}

input[type="color"] {
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
    box-shadow: 0 5px 0 rgb(201, 200, 200);
    border-radius: 10px;
    margin: auto;
    justify-self: center;
    align-self: center;

    /* margin: auto; */
    /* padding: 15px; */
}

/* .fill::before {
    content: url("../../img/Forme_6.png");;
/* padding: 15px; */


input[type="color"]::-webkit-color-swatch {
    display: none;
    /* margin:auto */
    /* background-color:none;
    background-image: 
    background-repeat:no-repeat;
    object-fit:cover; */
}

/* .stroke::-webkit-color-swatch {
    display: none; */
/* background-color:none;
    background-image: url("/img/s.png");
    background-repeat:no-repeat;
    object-fit:cover; */

/* 
.fill::before::content {
    content: url("/img/Forme_6.png");
    /* margin: auto; */
/* padding: 15px; */
/* 

.stroke::before {
    content: url("../../img/s.png");
    /* margin: auto; */


/* input, select, textarea {
    font-size: 100%;
    } */
/* body{
    background-color: aqua;
} */

.editor-inputs button {
    width: 55px;
    /* font-family: poppins, sans-serif; */

}

.stroke-input-container img {
    position: relative;
    width: 30%;
    bottom: 40px;
    left: 10px
}


.fill-input-container img {
    position: relative;
    width: 60%;
    /* bottom: 30px; */
    bottom: 37px;
    /* left: 5px */
}

.colored-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    /* justify-items: center;
    align-items: center; */
    margin: auto;
    place-content: center;
    grid-row: 2/2;

}


.colored-buttons-container button {
    margin-inline-end: 20px;
    width: 50px;
    min-height: 50px;
    margin: auto;
    /* margin-top: 40px;
    margin-bottom: 30px; */
    font-size: 30px;
    font-size:2rem ;


}

.white-buttons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* row-gap: 5px; */
    /* column-gap: 15px; */
    /* margin-left: 20px; */
    /* margin-bottom: 30px; */
    /* margin-inline-start:  ; */
    background-color: var(--clr3);
    max-width: 85%;
    /* min-height: 160px; */
    justify-items: center;
    align-items: center;
    place-content: center;
    margin: auto;

    /* margin:auto */


}

.white-buttons-container button {
    margin-top: 10px;
    /* margin-block-start: 10px; */
    width: 35px;
    height: 35px;
    box-shadow: 0 5px 0 rgb(201, 200, 200);
    /* margin: auto */
    /* margin-inline-start: 20px;
    margin-inline-end: 35px; */
}

.white-buttons-container button img {
    width: 60%;
}

.file-buttons-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 20px;

}

.impact {
    font-family: poppins, suns-serif;
    font-size: 1.5625rem;
    grid-column: 1/4;
    box-shadow: 0 5px 0 rgb(201, 200, 200);
    border: none;
    max-width: 130px;
    max-height: 50px;
    justify-self: center;
    /* align-items: center; */
    margin-left: 5px;
    border-radius: 10px;
}

.file-buttons-container button {
    width: 45%;
    padding: 20px;


}

.delete {
    background-color: var(--clr7);
    box-shadow: 0 5px 0 var(--clr7o);
}

.switch {
    background-color: var(--clr3);
    box-shadow: 0 5px 0 var(--clr3o);
}

.move {
    background-color: var(--clr4);
    box-shadow: 0 5px 0 var(--clr4o);
}

.share {
    background-color: var(--clr5);
    box-shadow: 0 5px 0 var(--clr5o);
    color: white;
    font-size: 1.3125rem;
}

.share::before {
    content: url("../../img/Forme_7.png");
}

.download {
    background-color: var(--clr6);
    box-shadow: 0 5px 0 var(--clr6o);

}

.download:before {
    content: url("../../img/Forme_8.png");
}

.download a {
    text-decoration: none;
    color: white;
    font-size: 1.3125rem;
}

/* .fill::before{
    background-image: url("/img/Forme_6.png");
} */

@media (min-width:700px) {
    .white-buttons-container {
        display: grid;
        grid-template-columns: repeat(5, 55px);
        grid-template-rows: repeat(2, 51px);
        row-gap: 40px;
        column-gap: 35px;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: var(--clr3);
        width: 85%;
        justify-content: space-around;
        /* align-items: center; */


    }

    .impact {
        /* grid-column: 1/4; */
        min-width: 15vw;
margin-bottom: 30px;
        /* justify-self: center;
align-self: center;
margin: auto; */
    }


    .white-buttons-container button {
        margin-top: 10px;
        min-width: 12%;
        min-height: 50px;
        width: 55px;
        height: 51px;
       
        /* margin-inline-start: 20px;
        margin-inline-end: 35px; */
    }
}

input[type="color"] {
    width: 55px;
    height: 51px;
}

.fill-input-container img {
    position: relative;
    width: 70%;
    /* bottom: 30px; */
    bottom: 45px;
    left: 10px
}

.stroke-input-container img {
    position: relative;
    width: 35%;
    bottom: 43px;
    left: 18px
}

/* 
@media (max-width:500px) {
    .white-buttons-container {
        /* display: grid; */
/* column-gap: 10px;
        margin-right: 10px; */
/* font-family:'Courier New', Courier, monospace */
/* grid-template-columns: repeat(5,30px) ;
    grid-template-rows: repeat(2, 30px);
    width: max-content;
    height: max-content;
    

    .white-buttons-container button {
        margin-top: 10px;
       width:25px;
        height: 25px;
        /* margin-inline-start: 20px;
        margin-inline-end: 35px; */