.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: repeat(auto-fit, 500px);
    gap: 10px;
    /* max-width: 1240px; */
    margin-right: 25px;
    margin-left: 15px;
}

.canvas-container {
    outline: 2px solid black;
    width: 500px;
    margin: 30px;
    background-color: var(--clr3);

}

.editor-container {
    display: none;
    /* flex-direction: column; */
    gap: 10px
}