.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-template-rows: repeat(auto-fit, 200px);
    /* gap : 30px; */
    column-gap:  30px;
    row-gap: 25px;
    /* max-width: 1240px; */
    margin-right: 25px;
    margin-left: 15px;
    /* margin-top: 130px; */
    padding-top: 130px;
    background-color: var(--clr3);
    border-radius: 0.625rem;
}

.gallery-container img {
   box-shadow: 2px 5px 10px 0;

}


.canvas-container {
    outline: 2px solid black;
    width: 500px;
    margin: 30px;
 

}

.editor-container {
    display: none;
  
    gap:20px;
    align-items: center;
    
}

.img-container{

   
}

.editor-inputs{
    display: flex;
    min-width: 50vw;
    min-height: 500px;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:  var(--clr3);
}