:root {
    --clr-2: hsla(215, 20%, 78%, 0.651);
    --clr-1: #bbc4d1;
    --clr0: #ebeef328;
    --clr1: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    --clr2: #19a59f;
    /* --clr2o:hsla(177, 74%, 37%, 0.651); */
    --clr3: #21ac91;
    --clr3o: hsla(168, 68%, 40%, 0.651);
    --clr4: #0c98b9;
    --clr4o: hsla(191, 88%, 39%, 0.651);
    --clr5: #1e7cd3;
    --clr5o: hsla(209, 75%, 47%, 0.651);
    --clr6: #8f44bb;
    --clr6o: hsla(278, 47%, 50%, 0.651);
    --clr7: #f71010;
    --clr7o: hsla(0, 94%, 52%, 0.651);
    --clr8: #383b42;
    --clr9: #22252c;

    --l: 15px;
}